<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Made with ❤️ by Sam</p>
  </div>
</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/index.js" async defer></script>
</body>
</html>
